.card__detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;

    i {
        color: black;
        font-size: 8rem;
        cursor: pointer;
    }
}