.work__card {
    width: 250px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .items {
        .title {
            font-size: 1.5rem;
        }

        .item__body {
            display: flex;

            .progress {
                width: 100px;
            }
        }
    }
}