.react-flow__node {
    border: 2px solid grey;

    &:focus {
        border: 2px solid #1ea7fd;
    }
}

.react-flow__edge {
    color: #1ea7fd;
}

.react-flow__handle {
    width: 8px;
    height: 15px;
    border-radius: 12px;

    &:hover {
        background-color: #1ea7fd;
    }

    &:first-child{
        margin-left: -1px;
    }
    &:last-child{
        margin-right: -1px;
    }
}

.react-flow__panel {
    a {
        display: none;
    }
}